.header-container {
    width: 100%;
    height: 65px;
    margin-bottom: -4em;
}

.sig {
    width: 200px;
    position: absolute;
    left: 855px;
    right: auto;
    z-index: 101;
}

@media only screen and (max-width: 660px) {
    .sig {
        padding-top: 10px;
        width: 140px;
        position: absolute;
        right: 20px;
        z-index: 101;
    }
}

@media only screen and (max-width: 1080px) {
    .sig {
        position: absolute;
        left: auto;
        right: 20px;
        z-index: 101;
    }
}