.player-control {
    opacity: 0.7;
    font-size: 4em;
    cursor:  pointer;
}

.player-container {
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: #211;
}

.spinner {
    height: 4em;
    width: 4em;
}