<app-header></app-header>
<md-tab-group class="main-container" style="z-index: 0;">
  <md-tab label="HOME">
    <app-home></app-home>
  </md-tab>
  <md-tab label="MUSIC">
    <app-music></app-music>
  </md-tab>
  <md-tab label="BIO">
    <app-bio>
    </app-bio>
  </md-tab>
</md-tab-group>
<div class="footer">
  <div class="jumble-content">
      <app-player [tab]="tab" class="jumble center"></app-player>
      <div class="new-jumble">New Jumble!</div>
  </div>
  <app-footer>
  </app-footer>
</div>
