@import '../global';

.main-container {
    /*margin-top: -4em;*/
    padding: 5px;
    max-width: 1070px;
}

.footer {
   position:auto;
   width: 100%;
   max-width: 1070px;
   left:0px;
   bottom:0px;
   z-index: -100;
}

.jumble {
    z-index: 0;
}

.jumble-content {
    position: relative;
}

.jumble-help-container {
    overflow: hidden;
}

.show-help {
    max-width: 30em;
    width: 25em;
    opacity: 1;
}

.hide-help {
    width: 0em;
    max-width: 0em;
    opacity: 0;
}

.expand-icon {
    background-color: #121;
    opacity: 0.7;
    float: right;
    margin-top: -0.2em;
    cursor: pointer;
    height: 1.5em;
}


@media only screen and (min-height: 550px) {
    .footer {
        position:fixed;
        width: 100%;
        left:0px;
        bottom:0px;
        z-index: -100;
    }
}