<app-header>
</app-header>
<md-tab-group class="main-container">
  <md-tab label="Home">
    <app-home></app-home>
  </md-tab>
  <md-tab label="Bio">
    <p>
      {{dummyText2}}
    </p>
  </md-tab>
  <button md-button>
    Jumble
  </button>
</md-tab-group>
<app-footer-player></app-footer-player>
<div class="fullscreen-bg">
  <video loop muted autoplay poster="assets/img/ws_background.jpg" class="fullscreen-bg__video">
    <source src="assets/video/background.webm" type="video/webm">
  </video>
</div>