.bio-description {
    padding: 5px;
    width: 440px;
    display: inline-block;
    align-self: center;
}

.bio-pic {
    padding: 5px;
    width: 160px;
    display: inline-block;
    align-self: center;
}