@import '../../global';

.track-item {
    padding: 4px;
    size: 1.5em;
    cursor: pointer;
}

.selected {
    border-left: solid 2px $primary;
    border-top: solid 2px $primary;
    margin-left: -2px;
    margin-top: -2px;
}
