.track-item {
    left-padding: 4px;
    size: 1.5em;
    cursor: pointer;
}

.track-item:hover {
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: #000;
}