@import '../../global';

.selected {
    outline: $primary 2px solid;
}

.jumble-node {
    width: 4em;
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.jumble-container {
    // padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
}

.jumble-rows {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


