<app-tab-container>    
  <app-track-group *ngFor="let album of (albumList | async)"
    [album]="album"
    [currentTrack]="currentTrack"
    (trackSelected)="onTrackSelected($event)">
  </app-track-group>
  <div class="jumble-container">
    <div align="center" class="dk-sub-header">TOP JUMBLES</div>
    <div class="jumble-rows">
      <div *ngFor="let jumble of (topJumbleList | async); let i = index"
        (click)="onJumbleSelected(jumble)"
        class="center-multiple jumble-node highlight"
        [ngClass]="{'selected': currentJumble === jumble}"
        align=center>
        {{"Jumble " + (i + 1)}}
      </div>
    </div>
  </div>
</app-tab-container>